#root {
  /* max-width: 100%; */
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #121212;
  color: #fff;
}

h1{
  color: #8A9A5B;
}

.box{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 450px;
  height: 200px;
  border: 2px solid #8A9A3B;
  border-radius: 20px;
}
.inp-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inp-btn input{
  width: 70%;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid #8A9A3B;
  font-weight: 600;
}

.inp-btn button{
  width: 20%;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #8A9A5B;
  border: 2px solid #8A9A3B;
}

.inp-btn button:hover{
  background-color: #8A9A3B;
}

.card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.slider-container,
.checkbox-container {
  display: flex;
  align-items: center;
}

.slider {
  width: 100%;
}

/* Style the labels and checkbox */
label {
  margin: 5px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/* Style the checkbox labels when checked */
input[type="checkbox"]:checked + label {
  color: #8A9A3B; /* You can choose your desired color */
}

